img.signal_1 {width:28px; height:24px; background:url(icons.png)  0 0;}
img.signal_2 {width:28px; height:24px; background:url(icons.png) -30px 0;}
img.signal_3 {width:28px; height:24px; background:url(icons.png) -60px 0;}
img.signal_4 {width:28px; height:24px; background:url(icons.png) -90px 0;}
img.signal_5 {width:28px; height:24px; background:url(icons.png) -120px 0;}
img.signal_6 {width:28px; height:24px; background:url(icons.png) -150px 0;}

img.battery_0 {width:37px; height:20px; background:url(icons.png) 0 -30px;}
img.battery_1 {width:37px; height:20px; background:url(icons.png) -40px -30px;}
img.battery_2 {width:37px; height:20px; background:url(icons.png) -80px -30px;}
img.battery_3 {width:37px; height:20px; background:url(icons.png) -120px -30px;}
img.battery_4 {width:37px; height:20px; background:url(icons.png) -160px -30px;}
img.battery_5 {width:37px; height:20px; background:url(icons.png) -200px -30px;}
img.battery_6 {width:37px; height:20px; background:url(icons.png) -240px -30px;}
img.battery_7 {width:37px; height:20px; background:url(icons.png) -280px -30px;}
img.battery_8 {width:37px; height:20px; background:url(icons.png) -320px -30px;}
img.battery_9 {width:37px; height:20px; background:url(icons.png) -360px -30px;}
img.battery_10 {width:37px; height:20px; background:url(icons.png) -400px -30px;}
