<div class="container">

  <!-- Jumbotron -->
  <div class="jumbotron">
    <h1>PiSense</h1>
    <p class="lead">v1.00</p>
    <p class="lead">PiSense is an easy to setup, wireless sensor network that uses your Raspberry Pi to collect sensor data and make it available on the web.  Just attach the PiSense Hub to your Pi's GPIO port and run our open source data collection app to start logging data from one or multiple sensors.  View your sensor data in real time or see historical graphs from any web browser, anywhere.</p>
    <p><a class="btn btn-lg btn-success" href="//porcupineelectronics.com/PiSense.html" role="button">Learn More</a></p>
  </div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Support</h2>
      <p>Have questions or feedback on PiSense?</p>
      <p>Visit our support forum to get solutions or ask new questions.  Full technical documentation, user manuals and a setup guide for PiSense are available on our web site.  
      <p><a class="btn btn-primary" href="//support.porcupineelectronics.com" role="button">Get Support &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Need More Sensors?</h2>
      <p>Purchase more individual sensors or shop for multi sensor packages.  We are always working on new types of sensors that integrate easily into your existing PiSense network.</p>
      <p><a class="btn btn-primary" href="//shop.porcupineelectronics.com" role="button">Visit Store &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>GitHub</h2>
      <p>The PiSense data logging and user interface software runs on a simple <a href="//www.raspberrypi.org/">Raspberry Pi</a> board and is open source.  Check our respository on GitHub for the lastest version of the software.</p>
      <p><a class="btn btn-primary" href="//github.com/porcupinelabs/PiSense" role="button">GitHub &raquo;</a></p>
    </div>
  </div>

  <!-- Site footer -->
  <div class="footer">
    <p>PiSense created by <a href="//porcupineelectronics.com">Porcupine Electronics</a> - Unique technology for discovery and invention</p>
  </div>

</div>
