<div class="container-fluid">
	<div class="row-fluid">
    	<div class="span12">

    <div class="col-xs-12 col-sm-3 col-md-2">
        <accordion>
            <accordion-group ng-repeat="propListEntry in propertyList" heading={{propListEntry.property}}>
                <div class="checkbox" ng-repeat="sensorListIndex in propListEntry.sensorList">
                    <label>
                        <input type="checkbox" ng-model="nodesChecked[sensorListIndex]" ng-change="nodeChange(flatSensorList[sensorListIndex])"/>{{flatSensorList[sensorListIndex].nickname}}
                    </label>
                </div>
            </accordion-group>
        </accordion>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-10">
      <div google-chart chart="chart" style="{{chart.cssStyle}}"/>
      <div class="text-center">
        <button type="button" class="btn btn-primary" ng-click="periodChange('hour')">1h</button>
        <button type="button" class="btn btn-primary" ng-click="periodChange('day')">1d</button>
        <button type="button" class="btn btn-primary" ng-click="periodChange('week')">7d</button>
        <button type="button" class="btn btn-primary" ng-click="periodChange('month')">1m</button>
        <button type="button" class="btn btn-primary" ng-click="periodChange('6month')">6m</button>
        <button type="button" class="btn btn-primary" ng-click="periodChange('year')">1y</button>
        <button type="button" class="btn btn-primary" ng-click="zoomOut()"><span class="glyphicon glyphicon-minus"></span></button>
        <button type="button" class="btn btn-primary" ng-click="zoomIn()"><span class="glyphicon glyphicon-plus"></span></button>
        <button type="button" class="btn btn-primary" ng-click="panLeft()"><span class="glyphicon glyphicon-arrow-left"></span></button>
        <button type="button" class="btn btn-primary" ng-click="panRight()"><span class="glyphicon glyphicon-arrow-right"></span></button>
      </div>
    </div>

<!--
<pre ng-bind="filterProperty | json"></pre>
<pre ng-bind="nodesChecked | json"></pre>
<pre ng-bind="flatSensorList | json"></pre>
<pre ng-bind="propertyList | json"></pre>
<pre ng-bind="graphState | json"></pre>
-->

    	</div>
  	</div>
</div>

